<div class="home">
    <div class="home_sidebar">
        <%- include("_home_sidebar"); %>
    </div>
    <div class="overlay">
        <div class="overlay_card">

            <div class="overlay_project">
                <%- include("_create_project"); %>
            </div>

        </div>
    </div>

    <div class="home_session">
        <div class="home_session_title">Projects<span class="home_session_count">
                <%=projectCount %> Projects
            </span></div>
        <div class="home_session_list">
            <div class="home_session_header">
                <div class="home_session_user">User</div>
                <div class="home_session_project">Project</div>
                <div class="home_session_date">Date</div>
            </div>
            <% for(project of project){ %>
                <div class="home_session_projects" data-id=<%=project.id %>>
                    <div class="home_user">
                        <img src="<%= project.user.avatar %>" alt="user-image" class="home_user_image">
                        <div class="home_user_name">
                            <%= project.user.username %>
                        </div>
                    </div>
                    <a href="/project/<%=project.id  %>">
                        <div class="home_project">
                            <div class="home_project_tite">
                                <%=project.title %>
                            </div>
                    </a>
                    <div class="home_project_desc">
                        <%=project.description %>
                    </div>
                </div>
                <div class="home_createdate">
                    <%=formatedDate=project.createdAt.toLocaleString("en-GB", { day: "numeric" , month: "short" ,
                        year: "numeric" , }); %>

                </div>
        </div>
        <% } %>
    </div>
</div>
</div>